.header {
  margin: 0 auto;
  box-shadow: -2px 4px 10px #e5e4e4;
  background-color: #fff;
  position: relative;
}
.header__logo {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}
.header__arrow {
  box-shadow: none;
}
.header__arrow__link {
  position: absolute;
  top: 15px;
  left: 20px;
}

.main__location {
  background: #e3e1e1;
  margin-top: 6px;
}
.main__location .location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding: 8px;
}
.main__location .location .fa-location-dot {
  padding-right: 15px;
}
.main .reservation {
  text-align: center;
  padding: 0 20px;
  margin: 0 auto;
}
.main .reservation__heading {
  font-size: 1.4rem;
  line-height: 30px;
  letter-spacing: 0.05rem;
}
.main .reservation__text {
  font-size: 0.9rem;
  line-height: 20px;
  letter-spacing: 0.05rem;
  margin-top: 0;
  font-weight: 600;
}
.main .reservation__btn {
  width: 250px;
  height: 60px;
  border-radius: 50px;
  margin: 20px auto 50px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  border: transparent;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.main .functioning {
  padding: 40px 15px;
  background-color: #fff;
}
.main .functioning__heading {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  margin: 0;
}
.main .functioning__container {
  margin: 15px auto 30px;
}
.main .functioning__container__btn {
  height: 80px;
  border-radius: 30px;
  border: transparent;
  box-shadow: -3px 6px 8px #e5e4e4, 3px 6px 8px #e5e4e4;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}
.main .functioning__container__btn:hover {
  background-color: #f7f0ff;
}
.main .functioning__container__btn:hover .icon {
  color: #9356dc;
}
.main .functioning__container__btn .purple-pellet {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 20px;
  color: #fff;
  background-color: #9356dc;
}
.main .functioning__container__btn .icon {
  padding-right: 16px;
}
.main .functioning__container__btn .text {
  font-size: 1.1rem;
  font-weight: 600;
}
@media (min-width: 720px) {
  .main .functioning__container {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
}
.main .card {
  background-color: #f6f6f6;
  margin-top: 50px;
  padding: 45px 15px;
}
.main .card__heading {
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
}
.main .card__item {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: -3px 6px 8px #e5e4e4, 3px 6px 8px #e5e4e4;
  margin: 20px 0;
}
.main .card__item:hover {
  border: 0;
  box-shadow: 3px 3px 5px #ff79da, -3px -3px #9356dc;
}
.main .card__item__link {
  position: relative;
}
.main .card__item__link:hover {
  color: #6a23bb;
}
.main .card__item__link__image {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.main .card__item__link__image__img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .card__item__link__btm {
  display: flex;
  justify-content: space-between;
}
.main .card__item__link__btm__menu {
  padding-left: 15px;
}
.main .card__item__link__btm__menu .heading {
  margin: 0;
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}
.main .card__item__link__btm__menu .text {
  line-height: 40px;
  font-size: 1.1rem;
  font-weight: 600;
}
.main .card__item__link__btm__icon {
  margin: 25px 20px 0;
}
.main .card__item__link__btm__icon .heart:hover {
  background: linear-gradient(to top, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.main .card__item__link__new {
  padding: 15px 10px;
  color: green;
  background-color: #99e2d0;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 20px;
}
.main__image__img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__menu {
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  padding: 30px 15px;
  position: relative;
  bottom: 50px;
}
.main__menu__header {
  display: flex;
  justify-content: space-between;
}
.main__menu__header .heading {
  margin-bottom: 0;
  font-size: 1.5rem;
}
.main__menu__header .heart {
  padding: 15px 8px;
}
.main__menu__items {
  margin: 25px auto;
}
.main__menu__items .text {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.main__menu__items .underline {
  border-bottom: 3.5px solid #99e2d0;
  padding-bottom: 4px;
}
.main__menu__items__btn {
  height: 85px;
  background-color: #fff;
  margin: 25px auto;
  border-radius: 20px;
  box-shadow: -3px 4px 10px #e5e4e4, 3px 4px 10px #e5e4e4;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  -webkit-animation-name: menu-load;
          animation-name: menu-load;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  overflow-x: hidden;
}
.main__menu__items__btn:nth-child(1n) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.main__menu__items__btn:nth-child(2n) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.main__menu__items__btn:nth-child(3n) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.main__menu__items__btn:nth-child(4n) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.main__menu__items__btn:nth-child(5n) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.main__menu__items__btn:nth-child(6n) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.main__menu__items__btn:nth-child(7n) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.main__menu__items__btn:nth-child(8n) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.main__menu__items__btn:nth-child(9n) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}
.main__menu__items__btn:nth-child(10n) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
@-webkit-keyframes menu-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes menu-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.main__menu__items__btn:hover .check {
  -webkit-animation: slideIn 0.5s ease-in forwards;
          animation: slideIn 0.5s ease-in forwards;
}
@-webkit-keyframes slideIn {
  100% {
    margin-right: 0;
  }
  0% {
    margin-right: -80px;
  }
}
@keyframes slideIn {
  100% {
    margin-right: 0;
  }
  0% {
    margin-right: -80px;
  }
}
.main__menu__items__btn__inner {
  padding: 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__menu__items__btn__inner .heading {
  margin: 0;
  font-size: 1rem;
  line-height: 40px;
  letter-spacing: 0.05rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__menu__items__btn__inner .subheading {
  font-size: 0.9rem;
  font-weight: 400;
}
.main__menu__items__btn .price {
  font-size: 1rem;
  padding-top: 55px;
  padding-right: 35px;
  white-space: nowrap;
}
.main__menu__items__btn .check {
  padding: 25px 15px;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  color: #fff;
  margin-right: -80px;
}

.footer {
  background: #393838;
  padding: 40px 15px;
}
.footer__heading {
  margin: 0;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.footer__inner {
  padding: 0;
}
.footer__inner__list {
  margin-top: 15px;
}
.footer__inner__list__link {
  color: #fff;
  font-size: 1.3rem;
}
.footer__inner__list__link:hover {
  color: #99e2d0;
}
.footer__inner__list .icon1 {
  padding-right: 15px;
}
.footer__inner__list .icon2 {
  padding-right: 4px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
  min-width: 320px;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Shrikhand", cursive;
}

span,
p {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}/*# sourceMappingURL=main.css.map */