@import './outils/variables';
@import './outils/mixin';
@import './layouts/header';
@import './layouts/main';
@import './layouts/footer';


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
    min-width: 320px;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: $font1;
}

span,
p {
    font-family: $font2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black-color;
}