.header {
  margin: 0 auto;
  height: 50px;
  box-shadow: -2px 4px 10px #e5e4e4;
  position: relative;
}
.header__logo {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}
.header__arrow {
  box-shadow: none;
}
.header__arrow__link {
  position: absolute;
  top: 15px;
  left: 20px;
}

.main {
  width: 100%;
  height: 100%;
}
.main__location {
  height: 45px;
  background: #f8f6f6;
  margin-top: 6px;
}
.main__location .location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding: 8px;
}
.main__location .location .fa-location-dot {
  padding-right: 15px;
}
.main .reservation {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.main .reservation__heading {
  font-size: 1.6rem;
  line-height: 30px;
  letter-spacing: 0.05rem;
}
.main .reservation__text {
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.05rem;
  margin-top: 0;
  font-weight: 600;
}
.main .reservation__btn {
  width: 250px;
  height: 60px;
  border-radius: 50px;
  margin: 20px auto 50px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  border: transparent;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.main .functioning {
  margin: 0 15px;
}
.main .functioning__heading {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
  margin: 0;
}
.main .functioning__container {
  margin: 15px auto 30px;
}
.main .functioning__container__btn {
  width: 330px;
  height: 80px;
  border-radius: 30px;
  border: transparent;
  box-shadow: -3px 6px 8px #e5e4e4, 3px 6px 8px #e5e4e4;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.main .functioning__container__btn:hover {
  background-color: #f7f0ff;
}
.main .functioning__container__btn:hover .icon {
  color: #9356dc;
}
.main .functioning__container__btn .purple-pellet {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 45px;
  color: #fff;
  background-color: #9356dc;
}
.main .functioning__container__btn .icon {
  padding-right: 25px;
}
.main .functioning__container__btn .text {
  font-size: 1.1rem;
  font-weight: 600;
}
.main .card {
  height: 100%;
  background-color: #f6f6f6;
  margin-top: 50px;
  padding: 45px 15px;
}
.main .card__heading {
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
}
.main .card__item {
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: -3px 6px 8px #e5e4e4, 3px 6px 8px #e5e4e4;
  margin: 20px 0;
}
.main .card__item:hover {
  border: 0;
  box-shadow: 3px 3px 5px #ff79da, -3px -3px #9356dc;
}
.main .card__item__link {
  height: 100%;
  position: relative;
}
.main .card__item__link:hover {
  color: #6a23bb;
}
.main .card__item__link__image {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.main .card__item__link__image__img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .card__item__link__btm {
  display: flex;
  justify-content: space-between;
}
.main .card__item__link__btm__menu {
  padding-left: 15px;
}
.main .card__item__link__btm__menu .heading {
  margin-bottom: 0;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}
.main .card__item__link__btm__menu .text {
  line-height: 40px;
  font-size: 1.1rem;
  font-weight: 600;
}
.main .card__item__link__btm__icon {
  margin: 30px 25px;
}
.main .card__item__link__btm__icon .heart:hover {
  background: linear-gradient(to top, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.main .card__item__link__new {
  width: 110px;
  height: 50px;
  color: green;
  background-color: #99e2d0;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 20px;
}
.main__image {
  height: 100%;
}
.main__menu {
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  padding: 30px 15px;
  position: relative;
  bottom: 50px;
}
.main__menu__header {
  display: flex;
  justify-content: space-between;
}
.main__menu__header .heading {
  margin-bottom: 0;
  font-size: 1.75rem;
}
.main__menu__header .heart {
  padding: 25px;
}
.main__menu__items {
  margin: 25px auto;
}
.main__menu__items .text {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.main__menu__items .underline {
  border-bottom: 3.5px solid #99e2d0;
  padding-bottom: 4px;
  margin-right: 19rem;
}
.main__menu__items__btn {
  width: 100%;
  height: 85px;
  background-color: #fff;
  margin: 25px auto;
  border-radius: 20px;
  box-shadow: -3px 4px 10px #e5e4e4, 3px 4px 10px #e5e4e4;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  -webkit-animation: menu-scroll 600ms ease-in-out forwards;
          animation: menu-scroll 600ms ease-in-out forwards;
}
.main__menu__items__btn__inner {
  padding: 15px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__menu__items__btn__inner .heading {
  margin: 0;
  font-size: 1.3rem;
  line-height: 40px;
  letter-spacing: 0.05rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__menu__items__btn__inner .subheading {
  font-size: 1.2rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__menu__items__btn .price {
  font-size: 1.2rem;
  padding-top: 52px;
  padding-right: 25px;
  white-space: nowrap;
}
.main__menu__items__btn .check {
  display: none;
}
@-webkit-keyframes menu-scroll {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes menu-scroll {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.footer {
  height: 220px;
  background: #393838;
  padding-top: 40px;
}
.footer__heading {
  margin: 0;
  padding-left: 36px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.footer__inner {
  margin: 0;
}
.footer__inner__list {
  margin-top: 15px;
}
.footer__inner__list__link {
  color: #fff;
  font-size: 1.3rem;
}
.footer__inner__list__link:hover {
  color: #99e2d0;
}
.footer__inner__list .icon1 {
  padding-right: 15px;
}
.footer__inner__list .icon2 {
  padding-right: 4px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Shrikhand", cursive;
}

span,
p {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}/*# sourceMappingURL=main.css.map */