
.page-container {
    // min-width: 320px;
    background-color: #f6f6f6;
}

img {
    width: 100%;
}

h1,
h2,
h4 {
    font-family: $font1;
}

h3 {
    font-size: 1.6rem;
    font-weight: 900;
    font-family: $font2;
}

span,
p {
    font-family: $font2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black-color;
}