main {
    width: 100%;
    height: 100%;

    .city-location {
        height: 45px;
        background: #f8f6f6;
        margin-top: 6px;
        
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            padding: 8px;

            .fa-location-dot {
                padding-right: 15px;
            }
        }
    }

    .reservation-container {
        text-align: center;
        width: 80%;
        margin: 0 auto;

        h2 {
            font-size: 1.5rem;
            line-height: 30px;
            letter-spacing: 0.05rem;
        }

        p {
            font-size: 0.9rem;
            line-height: 20px;
            letter-spacing: 0.05rem;
            margin-top: 0;
            font-weight: 600;
        }

        .btn {
            width: 85%;
            height: 50px;
            border-radius: 50px;
            margin: 20px auto 50px;
            background: linear-gradient(to top, $primary-color, $secondary-color);
            border: transparent;
            color: #fff;
            font-size: 1.1rem;
            cursor: pointer;
        }
    }

    .functioning-container {
        margin: 0 15px;

        h2 {
            font-size: 1.5rem;
            text-transform: capitalize;
            margin: 0;
        }

        &__button {
            margin: 15px auto 30px;

            .btn {
                width: 100%;
                height: 90px;
                border-radius: 30px;
                border: transparent;
                box-shadow: -3px 6px 8px #e5e4e4, 3px 6px 8px #e5e4e4;
                font-size: 1.2rem;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover  {
                    background-color: #f7f0ff;
                    color: $primary-color;
                }

                .fa-1,
                .fa-2,
                .fa-3 {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    right: 30px;
                    color: #fff;
                    background-color: $primary-color;
                }
                
                .fa-mobile-screen-button,
                .fa-list-ul,
                .fa-store {
                    padding-right: 25px;
                }

                span {
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }
        }
    }

    .card-container {
        margin: 0 15px;

        
    }
}