.header {
    background-color: $white-color;
    box-shadow: -2px 4px 10px #e5e5e5;
    position: relative;

    &__logo {
        font-size: 2rem;
        text-align: center;

        @media screen and (min-width: 768px) {
                font-size: 2.5rem;
            }

        @media screen and (min-width: 992px) {
            font-size: 3rem;
        }
    }

    &__arrow {
        box-shadow: none;

        &__link {
            position: absolute;
            top: 10px;
            left: 10px;

            @media screen and (min-width: 768px) {
                font-size: 1.3rem;
            }

            @media screen and (min-width: 992px) {
                font-size: 1.3rem;
                top: 15px;
            }
        }
    }
}







