.header {
    background-color: $white-color;
    box-shadow: -2px 4px 10px #e5e5e5;
    position: relative;

    &__logo {
        font-size: 2rem;
        text-align: center;
    }

    &__arrow {
        box-shadow: none;

        &__link {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
}







