
.location {
    height: 45px;
    background: #e3e1e1;
    margin-top: 5px;
    @include center;

    &__avenue {
        font-size: 1.1rem;

        &__icon {
            padding-right: 10px;
        }
    }
}